
    <h1>About Project</h1>
    <p>Для простого посещения моего сайта, можете воспользоваться данным адресом: https://web-chat.serega.site/</p>
    <p>Наша <a href="https://forms.gle/2Hiw4GekDeEBuaEQ8" target="_blank">поддержка</a></p>
